body{
    margin: 0px;
    background-color: blueviolet;
}



main{
    margin-left: 20px;
     margin-right: 20px;
}

h2{ 
    text-align:center ;
}

.navbar ul{
 list-style-type: none;
 background-color: #be90fb;
 padding: 0px;
 margin: 0px;
 overflow: hidden;
}
.navbar a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
 background-color: white;
}

.navbar li{
float: left;
}